<div class="lobby">
    <header class="lobby-header">
        <button nz-button nzType="text" (click)="leaveLobby()">
            <nz-icon nzType="arrow-left" nzTheme="outline"/>
            Leave
        </button>
        <h2>{{sessionService.session()?.status}}</h2>
        <button nz-button nzType="primary" nzShape="circle" (click)="share()">
            <nz-icon nzType="share-alt" nzTheme="outline"/>
        </button>
    </header>

    @switch (sessionService.session()?.status) {
        @case ('lobby') {
            <app-waiting-area/>
        }
        @case ('voting') {
            <app-voting-area/>
        }
        @case ('results') {
            <app-results-area/>
        }
    }

</div>
